.page {
  min-height: 100vh;
  font: 16px Inter, sans-serif;
  margin: 0 auto;
  color: #fff;
  background-color: #2a2c2f;
  display: grid;
  grid-template-areas:
    "header"
    "content"
    "footer";
  grid-template-rows: auto 1fr minmax(18px, auto);
}

@media screen and (max-width: 320px) {
  .page {
    grid-template-rows: calc(42px + 16px) 1fr auto;
  }
}
