.places__item-column-left {
  flex-basis: 46.7%;
}

@media screen and (max-width: 1024px) {
  .places__item-column-left {
    flex-basis: 47.3%;
  }
}

@media screen and (max-width: 600px) {
  .places__item-column-left {
    flex-basis: 100%;
  }
}
