.cover__subtitle {
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.23;
  max-width: 360px;
}

@media screen and (max-width: 400px) {
  .cover__subtitle {
    font-size: calc(100vw * 0.05 - 2px);
    line-height: 1.14;
    width: calc(100vw - (2 * 16px));
  }
}
