.places__item-website {
  margin: 0;
  display: flex;
  flex-flow: column;
  gap: 12px;
  align-self: flex-end;
}

@media screen and (max-width: 600px) {
  .places__item-website {
    align-self: flex-start;
  }
}
